@import url('https://fonts.googleapis.com/css2?family=Markazi|Karla:wght@100;400&display=swap');


body {
  display: grid;
  grid-template-rows: 1fr auto auto auto auto;
  margin: 0 70px 0 70px;
}

nav > ul {
 display: flex;
} 

nav > ul li {
  padding: 0 1rem 0 1rem;
}

ul {
  list-style: none;
  padding: 0;
  
}

footer, header {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1rem;
} 

.hero, .chicago {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.specials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.customersay {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer > nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h1 {
  font-family: 'Markazi';
  font-size: 64px;
  /* color: primary */
}

h2 {
  font-family: 'Markazi';
  font-size: 40px;
}

.lead_text {
  font-family: 'Karla';
  font-size: 18px;
}

.section_title {
  font-family: 'Karla';
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

p {
  font-family: 'Karla';
  font-size: 16px;
  line-height: 1.5;
}